<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper"> 
	<select id="compList" resultType="Company"> 
		SELECT * from company; 
	</select>
	
	<insert id="insertIndv" parameterType="indvUser">
		INSERT INTO indvDB(P_ID, P_PW, NAME, P_EMAIL, PHONE, BIRTH_DATE, AGE, GENDER)
		VALUES( #{P_ID}, #{P_PW}, #{NAME}, #{P_EMAIL},
		 #{PHONE}, #{BIRTH_DATE}, #{AGE}, #{GENDER} )
	</insert>
</mapper>