<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">
	<!-- 고객사 게시판 조회 -->
	<select id="compList" resultType="CompanyList"> 
		SELECT CO_NO, COMPANY, HR, CO_EMAIL, CO_CATEGORY, CO_SIZE  
		FROM COMPANY, CATEGORY, SIZE
		WHERE COMPANY.CATEGORY_ID = CATEGORY.CATEGORY_ID and COMPANY.SIZE_ID = SIZE.SIZE_ID; 
	</select>

	<!-- 채용공고 게시판 조회 -->
	<select id="postList" resultType="JobPost">
		SELECT POST_NO, COMPANY, POSITION, QUALIFY, EMPLOY_TYPE, REGI_DT 
		FROM NOTICE_post, COMPANY
		WHERE NOTICE_post.CO_NO = COMPANY.CO_NO; 
	</select>

	<!-- 기업회원 가입 -->
	<insert id="insertComp" parameterType="CompUser">
		INSERT INTO COMPANY(CO_ID, CO_PW, COMPANY, HR, CO_EMAIL, CO_NUMBER, CATEGORY_ID, SIZE_ID)
		VALUES( #{CO_ID}, #{CO_PW}, #{COMPANY}, #{HR},
		 #{CO_EMAIL}, #{CO_NUMBER}, #{CATEGORY_ID}, #{SIZE_ID} )
	</insert>

	<!-- 개인회원 가입 -->
	<insert id="insertIndv" parameterType="IndvUser">
		INSERT INTO PERSONAL(P_ID, P_PW, NAME, P_EMAIL, PHONE, BIRTH_DATE, AGE, GENDER)
		VALUES( #{P_ID}, #{P_PW}, #{NAME}, #{P_EMAIL},
		 #{PHONE}, #{BIRTH_DATE}, #{AGE}, #{GENDER} )
	</insert>
	
	<insert id="insertCareer" parameterType="careerInfo">
		INSERT INTO CAREER(P_ID, P_COMPANY, P_DEPARTMENT, P_DUTY)
		VALUES(#{P_ID}, #{P_COMPANY}, #{P_DEPARTMENT}, #{P_DUTY})
	</insert>
	
	<insert id="insertAcademic" parameterType="academicCareerInfo">
		INSERT INTO HAKSA(P_ID, DEGREE, SCHOOL_NAME, MAJOR, ADMISSION_YEAR, GRADUATION_YEAR)
		VALUES(#{P_ID}, #{DEGREE}, #{SCHOOL_NAME}, #{MAJOR}, #{ADMISSION_YEAR}, #{GRADUATION_YEAR})
	</insert>
	
</mapper>